body {
    background-color: purple;
    color: white
}

#list {
    background-color: #4040bb;
}

#btn {
    background-color: green;
    color: white;
}

.table {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}